<html>
<head>
    <title>
        Comput Monitor Dashboard
    </title>
	<style>
		a.button {
	        display: inline-block; 
	        margin-bottom: 20px; 
	        padding: 6px 12px; 
	        border: 3px outset buttonborder;
	        border-radius: 5px; 
	        color: buttontext;
	        background-color: buttonface;
	        text-decoration: none;
	    }
	    .center {
        text-align: center; 
        margin-bottom: 20px; 
    	}
		</style>
</head>


<body>

<h1 align="center">Nodes</h1>

{% for node_name in NODES %}
<div class="center">
<a align="center" href="{{ url_for(node_name) }}" class="button">{{node_name}}</a>
</div>
{% endfor %}
</body>
</html>